<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{#if entry}}{{entry.title}}{{else}}{{config.title}}{{/if}}</title>
  <meta name="description" content="{{#if entry}}{{entry.description}}{{else}}{{config.description}}{{/if}}">

  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <div class="block">
            <p class="title"><a href="./">{{config.title}}</a></p>
            <p class="subtitle">{{config.subtitle}}</p>
          </div>
          {{> @partial-block }}
        </div>
        <div class="column is-one-fifth">
          <figure class="image" alt="A picture of the Shepherd.">
            <img alt="Image: 'Ringworld' by Richard Fraser" src="img/ringworld.png">
          </figure>
          <p class="content">
            <p>{{config.description}}</p>
          </p>
          <hr>
          <aside class="menu">
            <p class="menu-label">{{config.links_title}}</p>
            <ul class="menu-list">
              {{#each config.links}}
              <li>
                <a href="{{this}}">{{@key}}</a>
              </li>
              {{/each}}
            </ul>
          </aside>
          <hr>
          <aside class="menu">
            <p class="menu-label">Meta</p>
            <ul class="menu-list">
              <li>
                <a href="rss.xml">RSS</a>
                <a href="https://github.com/garbados/shepherd-www">Source</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
